# =====================
# Secrets / Env files
# =====================
.env
.env.*
*.key
*.pem

# =====================
# Python
# =====================
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# =====================
# Jupyter
# =====================
.ipynb_checkpoints/

# =====================
# Airflow
# =====================
airflow/logs/
airflow/__pycache__/

# =====================
# dbt
# =====================
dbt/target/
dbt/logs/
dbt/.user.yml

# =====================
# Postgres data
# =====================
postgres/data/

# =====================
# OS / Editor
# =====================
.DS_Store
.vscode/
.idea/

# =====================
# Docker
# =====================
*.log
